<% layout("/layout/boilerplate") %>
<%- include("../includs/flash.ejs") %>

<% if(reqUser && reqUser.appointment){ %>  
<div class="apppoinments">
    <ul>
        <% for (appointment of reqUser.appointment) { %>
            <li>
                <% if (appointment.name) { %>
                    <strong>Name:</strong> <%= appointment.name %> 
                <% } %><br>
                <% if (appointment.phone_no) { %>
                    <strong>Phone Number:</strong> <%= appointment.phone_no %><br>
                <% } %>
                <% if (appointment.reason) { %>
                    <strong>Reason:</strong> <%= appointment.reason %><br>
                <% } %>
                <% if (appointment.state) { %>
                    <strong>State:</strong> <%= appointment.state %><br>
                <% } %>
                <% if (appointment.city) { %>
                    <strong>City:</strong> <%= appointment.city %><br>
                <% } %>
                <% if (appointment.date) { %>
                    <strong>Date:</strong> <%= appointment.date %>
                <% }%>
                <br>
                 <% if (appointment.status) { %>
                    <strong>Status:</strong> <%= appointment.status %>
                <% }%> 
                <div class="btn-div">
                    <button class="approve-button"><a href="/users/<%= reqUser._id %>/edit/<%=appointment._id  %>" style="text-decoration: none; color :white ;"  >Edit</a> </button>
                    <button class="ignore-button"><a href="/users/<%= reqUser._id %>/cancel/<%=appointment._id  %>" style="text-decoration: none; color :white ;" >Cancel</a></button>
                </div>
                
                <hr class="divider">

            </li>
        <% } %> 
    </ul>
    <br><br><br>
    <p><b>Disclaimer:</b> The information provided in this ticket is generated automatically and may not be accurate. Please verify all details independently. Any misuse of this information could result in legal action.</p>
    <b>Thank you for using our services; we are happy to help and look forward to your next visit!</b>
</div>
<% } %>